<div class="jumbotron">

	<form method="post">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

		<label>Nom crypto à chercher:</label>
		<input type="text" name="crypto" class="form-control">
		
		<label>Site où chercher:</label>
		<input type="text" name="site" class="form-control" value="https://coinmarketcap.com/fr/all/views/all/">

		<input type="submit" name="Envoyer" value="Search">
	</form>

</div>

	<% if Crypto.last != nil %>
	<h1>
		<strong> <%= @ask.nom%> </strong> = <%= @ask.value %> 
	</h1>
	<% end %>

<!-- https://coinmarketcap.com/fr/all/views/all/ -->
